<div class="modal-form">
  <div class="form-group">
    <label class="form-label">Name <span class="required">*</span></label>
    <dx-text-box
      [value]="name"
      (onValueChanged)="onNameChanged($event.value)"
      [readOnly]="isReadOnly"
      placeholder="Enter name"
    ></dx-text-box>
    @if (touched['name'] && nameError) {
      <span class="error-message">{{ nameError }}</span>
    }
  </div>

  <div class="form-group">
    <label class="form-label">Email</label>
    <dx-text-box
      [value]="email"
      (onValueChanged)="onEmailChanged($event.value)"
      [readOnly]="isReadOnly"
      placeholder="Enter email"
    ></dx-text-box>
    @if (touched['email'] && emailError) {
      <span class="error-message">{{ emailError }}</span>
    }
  </div>

  <div class="form-group">
    <label class="form-label">Phone</label>
    <dx-text-box
      [value]="phone"
      (onValueChanged)="onPhoneChanged($event.value)"
      [readOnly]="isReadOnly"
      placeholder="Enter phone number"
    ></dx-text-box>
    @if (touched['phone'] && phoneError) {
      <span class="error-message">{{ phoneError }}</span>
    }
  </div>

  <div class="form-group">
    <label class="form-label">Street</label>
    <dx-text-box
      [value]="street"
      (onValueChanged)="onStreetChanged($event.value)"
      [readOnly]="isReadOnly"
      placeholder="Enter street address"
    ></dx-text-box>
  </div>

  <div class="form-group">
    <label class="form-label">State</label>
    <dx-select-box
      [items]="stateList"
      [value]="state"
      (onValueChanged)="onStateChanged($event.value)"
      [readOnly]="isReadOnly"
      placeholder="Select state"
      [searchEnabled]="true"
    ></dx-select-box>
  </div>

  <div class="form-group">
    <label class="form-label">Postcode</label>
    <dx-text-box
      [value]="postcode"
      (onValueChanged)="onPostcodeChanged($event.value)"
      [readOnly]="isReadOnly"
      placeholder="Enter postcode"
    ></dx-text-box>
    @if (touched['postcode'] && postcodeError) {
      <span class="error-message">{{ postcodeError }}</span>
    }
  </div>

  <div class="form-group">
    <label class="form-label">Description</label>
    <dx-text-box
      [value]="description"
      (onValueChanged)="onDescriptionChanged($event.value)"
      [readOnly]="isReadOnly"
      placeholder="Enter description"
    ></dx-text-box>
  </div>

  <div class="form-actions">
    @if (showCreateButton) {
      <dx-button
        text="Create"
        type="default"
        [disabled]="!isFormValid"
        (onClick)="onCreateClick()"
      ></dx-button>
    }

    @if (showEditButton) {
      <dx-button
        text="Edit"
        type="default"
        (onClick)="onEditClick()"
      ></dx-button>
    }

    @if (showSaveButton) {
      <dx-button
        text="Save"
        type="success"
        [disabled]="!isFormValid"
        (onClick)="onSaveClick()"
      ></dx-button>
    }

    <dx-button
      text="Cancel"
      type="normal"
      (onClick)="onCancelClick()"
    ></dx-button>
  </div>
</div>
